.navbar {
    background: #D3A246;
    padding: 0;
    font-weight: 700;
    font-size: 14px;
}

.nav-item {
    padding: 10px
}

.active {
    color: #D3A246 !important;
    background: #161A1E;
}

.navbar-brand {
    margin-right: 15vw;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #f6ecda;
}


.sidebar .nav-item .nav-link {
    color: #161A1E !important;
    font-weight: 500;
}

.sidebar .active {
    background: #F0E1BC;
}

.sidebar .nav-item:hover {
    background: #F0E1BC;
}

.container {
    display: flex;
}

.sidebar {
    max-width: 12vw;
    min-width: 12vw;
    border: 1px solid #D4D4D4;
    background: white;
    position: relative;
}

.page-title {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
}

.sidebar-page-title-transactions {
    margin-bottom: 10vh;
}

.sidebar-page-title-transactions .container-fluid {
    padding: 0;
}


.sidebar-page-title-balance .container-fluid {
    padding: 0;
}

.page-title-section-left {
    margin-left: 5%;
}

.page-title-section-right {
    display: flex;
    gap: 35px;
}

.page-title-section-right-position {
    position: relative;
    right: 10vw;
}

.balance-container {
    margin-top: 35px;
    margin-left: 10px;
    display: flex;
    position: relative;
    left: 5vw;
    max-width: 40vw;
    background: white;
    justify-content: space-between;
    align-items: center;
}

.balance {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: white;
}

.balance-value {
    margin: 10px;
    font-weight: 700;
    font-size: 20px;
}

.estimated-balance {
    padding: 13px;
    text-align: left;
    font-size: 16px;
    margin-bottom: 10px;
}

.balance ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
}

.balance ul li {
    padding: 15px;
    list-style: none;
    font-weight: 700;
    font-size: 12px;
    text-align: left;
}

.balance-diagram {
    padding: 25px;
}

.fiat-container {
    margin: 20px;
    display: flex;
    position: fixed;
    left: 13vw;
    min-width: 45vw;
    background: white;
    justify-content: space-between;
    align-items: center;
}

.btn-main {
    color: black;
    background: #D3A246;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
    border-style: none;
    border-radius: 4px;
}

.btn-secondary {
    color: black;
    background: #CDCDCD;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
    border-style: none;
    border-radius: 4px;
}

.btn-main:hover {
    background: #ecce80;
}

.btn-secondary:hover {
    background: #e8e8e8
}

.card-btn-main {
    color: black;
    background: #D3A246;
    padding-left: 50px;
    padding-right: 50px;
    border-style: none;
    border-radius: 4px;
}

.card-btn-main:hover {
    background: #ecce80;
}

.card-btn-secondary:hover {
    background: #D3A246;
    color: white;
}

.card-btn-secondary {
    color: black;
    background: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid #D3A246;
    border-radius: 4px;
}

.fiat-balance {
    max-width: 30vw;
    position: relative;
    left: 13.5vw;
    padding: 15px;
}

.fiat-cards-container {
    max-width: 80vw;
    position: relative;
    left: 13.5vw;
}

.crypto-cards-container {
    max-width: 80vw;
    position: relative;
    left: 13.5vw;
    margin-bottom: 8vh;
}

.card {
    border-style: none;
}

.card-body {
    display: flex;
    justify-content: space-between;
}

.card-header {
    padding: 15px;
    border-style: none;
    display: flex;
    justify-content: space-between;
    background: white;
}

.card-body {
    background: white;
}

.card-balance {
    font-weight: 500;
    font-size: 18px;
}

.currency-full-name {
    font-size: 14px;
    font-weight: 500;
    color: #848E9C;
}

footer {
    margin-top: auto;
    position: relative;
    background: #040404;
}

footer .container-fluid {
    padding: 60px;
}

footer .container-fluid {
    justify-content: space-between;
}

footer ul li {
    list-style: none;
    color: #EEC77F;
    font-family: Inter, serif;
    font-weight: 500;
    font-size: 14px;
    padding: 10px;
}

footer ul {
    padding: 0;
    margin: 0;
    gap: 10px;
}

.footer-heading {
    color: white;
    margin-bottom: 20px;
    font-family: Inter, serif;
    font-weight: 600;
    font-size: 16px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer a:hover {
    color: white;
}

.text-center {
    text-align: center;
}

.copyright {
    background: #303030;
    padding: 15px;
}

.copyright-text {
    font-size: 14px;
    font-family: Inter, serif;
    color: #D3A246;
    font-weight: 400;
}

.transfer-container {
    background: white;
}

.transfer-heading {
    font-size: 20px;
    margin: 20px 20px 20px 0;
}

.transfer-container .card-header {
    background: white;
    justify-content: left;
    padding: 15px 15px 0 15px;
    margin-top: 15px;
}

.transfer-container .card-body {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.transfer-container .card-body .card-btn-main {
    padding-top: 4%;
    padding-left: 38%;
    padding-bottom: 4%;
    padding-right: 38%;
}

.transfer-container .card-body input {
    border-style: none;
    padding: 5px;
}

.transfer-available {
    color: #9f9d9d;
    font-weight: 500;
    font-size: 14px;
    padding: 5px;
}

.transfer-amount {
    color: black;
}


.deposit-options {
    border: 1px solid #848E9C;
    width: 7vw;
    height: 2.5vh;
    border-radius: 3px;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
}

.deposit-input {
    color: #848E9C;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #D3A246;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-container {
    margin-left: 10vw;
    margin-right: 10vw;
}

.transaction-history-filter {
    background: white;
    display: flex;
    margin-top: 30px;
    padding: 20px 20px 40px 20px;
    gap: 1vw;
    align-items: flex-end;
}

.transaction-filter {
    display: flex;
    flex-direction: column;
}

.transaction-filter label {
    font-weight: 500;
}

.transaction-filter input {
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #D3A246;
    border-radius: 3px;
    padding: 8px;
    margin-top: 5px;
    width: 11vw;
    height: 4vh;
}

.transaction-filter select {
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #D3A246;
    border-radius: 3px;
    width: 11vw;
    height: 4vh;
    margin-top: 5px;
}

.transaction-filter-btn-main {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background: #D3A246;
    border-radius: 3px;
    border-style: none;
    padding: 1vh 4vw;
    height: 4vh;
    cursor: pointer;
}

.transaction-filter-btn-main:hover {
    background: #ecce80;
}

.transaction-history-container {
    margin-left: 8vw;
    margin-right: 8vw;
}

.transaction-history-table-container {
    padding: 15px 15px 35px 15px;
    background: white;
}

.transaction-history-results-container h3 {
    font-size: 30px;
    margin: 20px 0 20px 0;
}

.transaction-history-results-container table {
    font-size: 14px;
}

.transaction-history-results-container table thead th {
    color: #848E9C;
    font-size: 14px;
}

.transaction-history-results-container table tbody td {
    font-weight: 500;
}

.transaction-history-results-container table tbody tr td:last-child {
    font-weight: 700;
}

.transaction-success {
    color: green !important;
}

.transaction-waiting {
    color: #D3A246 !important;
}